.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.title {
  margin: 10px 0;
}

.submitButton {
  width: 100%;
  padding: 16px;
  border: none;
  background: #0e75fc;
  cursor: pointer;
  border-radius: 8px;
}

.buttonText {
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  line-height: 160%;
}

.submitButton:hover {
  background: #004ad9;
}

.submitButton:disabled {
  background: #7cb2f9;
  cursor: not-allowed;
}

.loader {
  border: 2px solid #ffffff;
  border-top: 2px solid #859ab5;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  padding: 10px;
  text-align: center;
  background: #ffe5e5;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.hidden {
  clip: rect(0 0 0 0);
  border: 0;
  height: 1px;
  padding: 0;
  position: absolute;
  width: 1px;
}
