:root {
  --button-bg-color: oklch(59.15% 0.219 258.75);
  --button-bg-hover-color: oklch(47.73% 0.22654710070203818 262.3337338537459);
  --button-bg-disabled-color: oklch(75.45% 0.118 255.62);
  --button-focus-color: oklch(67.93% 0.047 254.82);
  --white-color: oklch(100% 0 0);
  --gray-color: oklch(80.15% 0 0);
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 360px;
}

.submitButton {
  width: 100%;
  padding: 16px;
  border: none;
  background: var(--button-bg-color);
  cursor: pointer;
  border-radius: 8px;
}

.buttonText {
  color: var(--white-color);
  font-size: 17px;
  font-weight: 500;
  line-height: 160%;
}

.submitButton:hover {
  background: var(--button-bg-hover-color);
}

.submitButton:disabled {
  background: var(--button-bg-disabled-color);
  cursor: not-allowed;
}

.submitButton:focus-visible {
  box-shadow: 0 0 0 4px var(--button-focus-color);
}

.loader {
  border: 2px solid var(--white-color);
  border-top: 2px solid var(--button-focus-color);
  border-radius: 50%;
  width: 27px;
  height: 27px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
