.showPasswordButton {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
}

.showPasswordButton:hover {
  color: #859ab5;
}

.showPasswordButton:focus-visible {
  box-shadow: 0 0 0 2px #3f5878;
}
